@using Microsoft.AspNetCore.Authentication

@if (User.Identity.IsAuthenticated)
{
    <h2>Claims</h2>
    <h5>You are logged in at the Secure Token Server, click the JS Client link to see Single Sign-On in action!</h5>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>

    <h2>Properties</h2>

    <dl>
        @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
        {
            <dt>@prop.Key</dt>
            <dd>@prop.Value</dd>
        }



    </dl>
}
else
{
    <h1>Hello, click Login</h1>
    <h4>Username: alice Password: Pass123$</h4>
    <p>alice has access to some resources bob doesn't</p>
    <h4>Username: bob Password: Pass123$</h4>
    <p>bob has identity resources (claims) that alice doesn't</p>
    <p>After logging in, you will be returned to this webpage and the navigation will contain more links. Click the links to explore the basic features talked about in the paper.</p>
}

